#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define default_layer 0
#define bt_layer 1

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                        &kp A   
            &kp B     &kp C    &kp D   
            &to 1       &kp E    &kp F   
            >;
        sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        bt_layer {
            bindings = <
                        &kp Q   
            &kp W     &kp E     &kp R   
            &to 0          &kp T     &kp Y
            >;
        sensor-bindings = <&inc_dec_kp C_NEXT C_PREV>;
        };

    };
};